<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	
	<!-- google font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

	<!-- nuestro CSS -->
	<link rel="stylesheet" href="../css/style.css">

	<meta name="description" content="Heladeria Gaudi Oficial | Te ofrecemos nuestras exquisiteces y gran variedad en helados, cafetería, tortas, sandwiches y más. Te esperamos">
	<meta name="keywords" content="HELADERIA, SABORES, CAFETERIA, GALERIA, LOCAL,">

<title>Galeria - C16645</title>
</head>
<body>
	<!-- inicio header -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-xs-12">
				<nav class="navbar navbar-expand-lg navbar-light navBg">
  					<img src="../assets/img/logoGaudi.jpeg" alt="logo" width="155px" height="149px">
  					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    					<span class="navbar-toggler-icon"></span>
  					</button>
  					<div class="collapse navbar-collapse" id="navbarNav">
    					<ul class="navbar-nav">
      						<li class="nav-item active">
        						<a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
      						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="sabores.html">Sabores</a>
     						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="cafeteria.html">Cafeteria</a>
      						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="#">Galeria</a>
      						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="local.html">Local</a>
      						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="contacto.html">Contacto</a>
      						</li>
    					</ul>
  					</div>
				</nav>
			</div>
		</div>
		
	</div>
	<!-- cierre header -->

	<section class="encabezado3 parallax nav">
		<h1>GALERIA</h1>
	</section>
	<section>
		<img src="" alt="">
	</section>

	<!-- inicio footer -->
    <div class="container-fluid">
    	<footer class="pie row footerBg footerTB footerFlex">
			<div class="col-lg-4 col-xs-12 img"><img src="../assets/img/logoGaudi.jpeg" alt="logo" width="115px" class="ico_foo"></div>
			<div class="col-lg-4 col-xs-12 copy"><h3>COPY RIGHT</h3></div>
			<div class="col-lg-4 col-xs-12 inst"><a href="https://www.instagram.com/gaudi_helados.y.cafe/" target="_blank"><img src="../assets/icons/inst-black.png" alt="instagram-icon" width="70px" class="ico_foo"></a></div>
		 </footer>
	</div>
	<!-- cierre footer -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>